@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body, html
{
   height: 100%;
   margin: 0;
}

:root{
    --green: #64ffda;
    --radius: 10px;
}


.default_container{
    min-height: 100%;

    background-color: #222831;
}

.default_content{

    /* size  */
    width: 80%;
    height: 80%;

    /* pos */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);


    /* Customization */
    background-color: #222831;
    border-radius: var(--radius);
    border: 2px solid var(--green);

    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;


    padding: 10px;
    
}

.default_header{
    width: 100%;
    height: 15%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: flex;
}

.default_header > div{
    margin: 10px;
    padding: 10px;
}

.header_user_box{
    display: flex;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.header_user_box > .header_user_box_img{
    padding: 20px;
}


.header_user_box_img{
    background-image: url("profile.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 10%;
}

.header_user_box_txt{
    width: 80%;
}

.header_txt_parent{
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

.header_txt_child{
    font-family: 'Open Sans', sans-serif;
}

#username{
    color: var(--green);
}

#RealName{
    color: white;
}


.default_body{
    width: 100%;
    height: 78%;
    display: flex;
}


.default_body > div{
    padding: 10px;
    margin: 10px;
}

.body_section {
    width: 33%;
    display: block;
    padding: 10px;
}

.body_section_top{
    width: 100%;
    height: 50%;
}

.body_section_bottom{
    width: 100%;
    height: 50%;
}

#canvas_section{
    margin: 0 auto;
}

.body_canvas_parent{

    width: 90%;
    height: 90%;

    /* pos */
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    background-color: white;
}

canvas{
    max-width: 510px;
    max-height: 310px;
}



.default_footer{
    /* pos */
    position: fixed;
    left: 0;
    bottom: 0;
    /* size */
    width: 100%;
    height: 7%;
    /* customization */
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);

    text-align: right;
    
}


.footer_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    display: block;
}

.footer_ul li {
    display: inline-block;
    min-width: 2em;
    margin: 0.5em 0.5em;
}

.footer_ul a {
    text-decoration: none;
    text-align: center;
    display: block;
    font-family:Arial;
    position: relative;
    color: var(--green);
    padding:.5em 0
}

.footer_ul a:hover {
    box-shadow: rgba(0, 0, 0, 0.26) 0px 10px 36px 0px, rgba(0, 0, 0, 0.265) 0px 0px 0px 1px;
}


