@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body, html
{
   height: 100%;
   margin: 0;
}

:root{
    --green: #64ffda;
    --radius: 10px;
}


.default_container{
    min-height: 100%;

    background-color: #222831;
}

.default_content{

    /* size  */
    width: 80%;
    height: 80%;

    /* pos */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);


    /* Customization */
    background-color: #222831;
    border-radius: var(--radius);
    border: 2px solid var(--green);

    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;


    padding: 10px;
    overflow: hidden;
    
}


.default_body{
    width: 100%;
    height: 78%;
    display: flex;
    flex-direction: column;
}

.default_body > div{
    margin: 5px;
    padding: 5px;
}


/* body content */

.body_row{
    height: 50%;
    display: flex;
}

.body_row > div{
    margin: 10px;
    padding: 5px;
}

/* Item */
#body_item{
    width: 20%;
    display: flex;
    flex-direction: column;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

    overflow: hidden;
}

#body_item > div{
    margin: 5px;
    padding: 5px;
}

#body_item_header{
    height: 20%;
}

#body_item_header > i {
    margin: 10px;
}

#body_item_content{
    height: 60%;
    overflow-wrap: break-word;
}

#body_item_footer{
    height: 10%;
}

#body_item_footer > p {
    margin: 5px;
}




/* styling */

#body_item_header i {
    font-size: 2.2em;
    color: var(--green);
}


#body_item_content a {
    max-height: 100%;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#body_item_content a:hover{
    color: var(--green);
}

#body_item_footer p {
    color: gray;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}


#item_title{
    font-weight: 800;
    font-size: 1vw;
    text-decoration: none;
}

#desc {
    font-size: .9vw;
    text-decoration: none;
}

#body_item_footer p {
    text-align: center;
}